body {
    background-color: #FDB515;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100;
    margin-top: 10px;
}

.title {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: "Arial Black", Helvetica, sans-serif;
}

.panel {
    margin: auto;
    width: 62%;
    margin-top: 50px;
    padding: 10px;
    border-style: solid;
    border-radius: 25px;
    background-color: white; 
  }